* {
  margin: 0;
  padding: 0;
}

body {
  background: #f4f5f7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  flex-direction: column;
}

.page {
  margin-top: 70px;
  width: 640px;
  background: #fff;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 130px;
}

.logo img {
  margin-left: 40px;
  margin-top: 60px;
  max-width: 100%;
}

.line {
  padding: 20px 40px;
}

.line hr {
  height: 2px;
  border: none;
  background-color: #f6f6f6;
}

.picture img {
  padding: 20px 40px;
  max-width: 100%;
  height: auto;
}

.content {
  padding: 20px 40px;
}

h2 {
  color: #172e62;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 16px;
  line-height: 28px;
  letter-spacing: 0px;
}

p {
  color: #172e62;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 24px;
}

button {
  background-color: #4057e3;
  color: #fff;
  padding: 14px 24px;
  border-radius: 6px;
  border: none;
  font-weight: bold;
  font-size: 14px;
}

.list {
  list-style: none;
  padding-left: 0;
}

li {
  display: flex;
  align-items: center;
  color: #4057e3;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 16px;
}

li::before {
  content: url('Images/icon-arrow-right.png');
  margin-right: 8px;
}

.footer {
  text-align: center;
  padding: 10px 40px 40px 40px;
}

.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
}

.footer p {
  color: #172e62;
  font-size: 14px;
}

.notice {
  width: 640px;
}

.notice p {
  padding: 20px 40px 60px 40px;
  margin-bottom: 70px;
  font-size: 13px;
  color: #b6bccb;
  text-align: center;
}

@media (max-width: 768px) {
  .page {
    width: 90%;
    margin-top: 20px;
  }

  .logo {
    height: 100px;
    text-align: center; /* Centruoti logotipą horizontaliai */
  }

  .logo img {
    max-width: 100%;
  }

  .line,
  .content {
    padding: 10px 20px;
  }

  .picture img {
    display: inline-block; /* Pasidarome nuotrauką bloko elementu, kad būtų galima naudoti margin: 0 auto; */
    margin: 20px auto; /* Centruoti nuotrauką horizontaliai ir pridėti vertikalų atstumą */
    padding: 0; /* Išvalyti paddingą, kad netrukdytų centruoti */
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  button {
    padding: 10px 20px;
    font-size: 14px;
  }

  li {
    font-size: 14px;
  }

  .footer {
    padding: 10px 20px 20px 20px;
  }

  .footer-icons {
    gap: 10px;
  }

  .footer p {
    font-size: 12px;
  }

  .notice {
    width: 90%;
    margin: 20px auto;
  }

  .notice p {
    padding: 10px;
    margin-bottom: 20px;
    font-size: 12px;
  }
}
